/* Style Css Here */


@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600;700&family=Tiro+Bangla&display=swap');
:root{
	--main-font: 'Hind Siliguri', sans-serif;
	--primary-color: #c31f3a;
	--secondary-color: #4d5765;
	--line-height: 26px;
	--body-font-size: 16px;
	--body-bg: #fff;
	--menu-icon: url(assets/icon/list.svg);
	
}

body{
	font-family: var(--main-font);
	color: 	var(--secondary-color);
	line-height: var(--line-height);
	font-size: var(--body-font-size);
	background-color: var(--body-bg);

}
/* chuinogor basic classes */
img{
	max-width: 100%;
	height: auto;
}
.main-color{
	background-color: var(--primary-color);
}
.text-main{
	color: var(--primary-color);
}
.chui__padding{
	padding: 80px 0;
}
.chui__main--btn {
	padding: 10px 30px;
	background-color: var(--primary-color);
	color: var(--body-bg);
	text-decoration: none;
	font-weight: 600;
	border-radius: 3px;
	border: 1px solid transparent;
}

.chui__main--btn em img {
	height: 25px;
	filter: invert(1);
}
.z-index {
	z-index: 2;
	position: relative;
}
/* chui animated btn */



/* header area css */
.chui__header nav a img {
	height: 65px;
}
.chui__header .navbar-expand-lg .navbar-nav {
	flex-direction: row;
	gap: 20px;
}
.chui__header--links .navbar-nav a{
	font-size: 18px;
	color: #dbdbdb;
	font-weight: 600;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
	color: var(--body-bg);
}
.chui__header--links .navbar-nav .login-btn {
	border: 1px solid #ffa0a0;
	border-radius: 4px;
	color: #fff !important;
	background-color: transparent;
	transition: all .3s;
}
.chui__header--links .navbar-nav .login-btn:hover{
	background-color: #fff;
	color: #000 !important;
}
.chui__header--links .navbar-toggler {
	border: 1px solid #ccc;
}
.chui__header--links .navbar-toggler:focus {
	box-shadow: none;
}
.chui__header--links .navbar-toggler-icon {
	background-image: var(--menu-icon);
	filter: invert(.8);
}

/* hero area css */
.chu__hero {
	position: relative;
  }
  .chu__hero:before {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	background: #35000996;
	left: 0;
	top: 0;
  }
.chui__hero--text-box {
	max-width: 600px;
  }
  .chui__hero--text-box h1 {
	font-size: 72px;
	font-weight: 700;
	line-height: 100px;
	color: var(--body-bg);
	margin-bottom: 30px;
	margin-top: 10px;
  }
  .chui__hero--text-box span {
	color: var(--primary-color);
	font-weight: 600;
	font-size: 35px;
	display: inline-block;
  }
  .chui__order{
	border: 1px solid #ddddddab;
	background-color: transparent;
	transition: all .3s;
	padding: 10px 25px;
  }
  .chui__order:hover{
	background-color: var(--primary-color);
	border: 1px solid transparent;
  }
  .chui__hero--img img {
	height: 600px;
	width: auto;
	object-fit: cover;
}



/* chui product */

.chui__popular--single {
	background-color: #c31f3a0a;
	border-radius: 4px;
	padding: 30px;
	border: 1px solid transparent;
	transition: all .3s;
  }
  .chui__popular--single:hover{
	  border: 1px solid #c31f3a21;
  }
  .chui__popular--single-item {
	text-align: center;
  }
  .item__meta-box a {
	font-size: 25px;
	color: #000;
	text-decoration: none;
	margin-bottom: 10px;
	display: block;
	font-weight: 600;
	transition: all .3s;
  }
  .item__meta-box:hover a{
	color: var(--primary-color);
  }
  .item__meta-box p:not(:last-child) {
	margin-bottom: 10px;
  }
  .item__meta-box p.price {
	font-weight: 600;
	color: #000;
	font-size: 25px;
	font-family: 'Tiro Bangla', serif;
  }
  .item_interaction {
	display: flex;
	justify-content: center;
	gap: 10px;
  }
  .item_interaction a {
	border: 1px solid #757475de;
	padding: 5px 10px;
	border-radius: 4px;
	background-color: transparent;
	transition: all .3s;
  }
  .item_interaction a:hover img {
	filter: invert(1);
  }
  .item_interaction a:hover{
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
  }

  /* footer  */

  .chui__footer-content h4 {
	font-size: 22px;
	font-weight: 600;
	color: var(--body-bg);
	margin-bottom: 20px;
	position: relative;
  }
  .chui__footer-content h4:after {
	position: absolute;
	content: '';
	left: ;
	left: 0;
	bottom: -5px;
	width: 70px;
	height: 2px;
	background-image: linear-gradient(to right, #fff, transparent);
  }
  .chui__footer-content p{
	color: var(--body-bg);
  }
.chui__footer--social {
	display: flex;
	list-style: none;
	gap: 15px;
  }
  .chui__footer--social li {
	border: 1px solid #ff1f44cc;
	padding: 3px 8px;
	border-radius: 4px;
	background-color: #ff1f44;
  }
  .chui__footer--social li a imgg {
	filter: invert(1);
  }

  .chui__footer--social li a img {
	filter: invert(1);
	height: ;
  }
  .chui__footer--links li {
	list-style: none;
	margin-bottom: 10px;
  }
  .chui__footer--links li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
  }

  /* newsletter */
  .chui__subscription {
	display: flex;
	max-width: 1100px;
	justify-content: space-between;
	background-color: #db1a3a;
	color: #fff;
	align-items: center;
	padding: 20px 30px;
	margin: 50px auto auto;
	box-shadow: 0px 0px 4px 0px #ff1138;
}
  .chui__subscription h4 {
	margin: 0;
	font-weight: 600;
  }
  .subcription__title p {
	font-size: 10px;
	margin-top: -5px;
	margin-bottom: 0;
}
  .subcription__form form input {
	padding: 15px 20px;
	border-radius: 4px;
	border: 0;
	width: 250px;
  }
  .subcription__form form input:focus {
	outline: none;
  }
  .subcription__form form button {
	padding: 20px 15px;
	border: 0;
	border-radius: 4px;
	margin-left: -5px;
	background-color: var(--primary-color);
	color: #fff;
	font-weight: 600;
  }